*{
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.title{
  font-size: xx-large;
  font-weight: 700;
}

nav{
  border-bottom: 1px solid grey;
}

.board {
  width: 600px;
  height: 100px;
  border: 1px solid black;
  display: flex;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  height: 50px;
  width: 50px;
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

